[data-zoom-image-wrapper] {
  --image-wrapper-max-width: 300px;
  --image-wrapper-aspect-ratio: 300/420;
  --image-wrapper-border-radius: 0;
  --image-wrapper-border: 1px solid;
  --image-object-fit: cover;
  position: relative;
  cursor: zoom-in;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--image-wrapper-max-width);
  aspect-ratio: var(--image-wrapper-aspect-ratio);
  border-radius: var(--image-wrapper-border-radius);
  border: var(--image-wrapper-border);

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: var(--image-object-fit);
  }
}